<header class="header">
  <h1 class="header__logo">News</h1>
  <div class="search__wrap">
    <div class="search-input__slider">
      <input
        type="search"
        name="query"
        id="news__search"
        placeholder="Search |"
      />
      <svg class="input__search-icon" width="20px" heigth="20px">
        <use href="./images/icons/symbol-defs.svg#icon-search__icon"></use>
      </svg>
    </div>
    <button type="button" class="header__search-btn mobile">
      <svg class="search-icon" width="24px" heigth="24px">
        <use href="./images/icons/symbol-defs.svg#icon-search__icon"></use>
      </svg>
    </button>
  </div>
  <button type="button" class="header__menu-btn mobile">
    <svg class="burger-menu-icon">
      <use href="./images/icons/symbol-defs.svg#icon-burger-menu__icon"></use>
    </svg>
  </button>
    <button type="button" class="mob__menu-close mobile is-hidden">
        <svg class="mob__menu-close-icon">
            <use href="./images/icons/symbol-defs.svg#icon-close-mob-menu"></use>
        </svg>
    </button>
</header>
